.subhead {
    background: linear-gradient(45deg, #004967 0px, #00A5B5 100%) repeat scroll 0 0 transparent;
    color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    padding: 50px 0 15px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
    text-align: left;
    margin-bottom: 20px;
}
.subhead h1 {
    font-size: 60px;
    margin: 25px 0;
}
.subhead .container p {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 10px;
}
.container p, .container li {
    font-size: 16px;
}
.container .row {
    margin-top: 25px;
}
h1, h2, h3, h4, h5, h6 {
    /* text-rendering: optimizelegibility; */
}
h2 {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 9px;
}
.modal-footer {
    margin-top: 20px;
}
.modal-footer p {
    color: #777777;
}