p {
    color: #636971;
}

.navbar {
    margin-bottom: 0;
}

section.separator {
    margin: 0 0;
    padding: 30px 0;
    border-bottom: 1px solid #c4c4c4;
}

section h2 {
    font-size: 28px;
    color: #454545;
}

.hero-unit h1 {
    line-height: 40px;
    margin-top: 0;
}
.hero-unit h1 small {
    color: #454545;
    font-size:28px;
}
.hero-unit h2 {
    font-size: 27px;
    margin-top: 25px;
    margin-bottom: 24px;
    line-height: 40px;
}
.hero-unit h2 small {
    padding-top:10px;
}
.hero-unit h3 {
    color: #9099a3;
    font-weight: 300;
}

/* Products */
.hero-unit .products {
    margin: 30px 0;
}
.hero-unit .product {
    font-size: 23px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 15px;
    background: #fdfdfd;
	margin-bottom: 30px;
}
.hero-unit .product * {
    margin-top: 0;
    margin-bottom: 0;
}
.hero-unit .product .tagline {
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
}

footer {
    margin-top: 40px;
}

/* Fix hero unit */
.hero-unit {
    padding: 0;
    padding-top: 5px;
    margin-bottom: 15px;
}

/* Call to action */
.hero-unit .btn, .hero-unit input {
    font-size: 24px;
    line-height: 34px;
    padding: 14px 34px;
}
.hero-unit input {
    height: auto;
    margin-bottom: 24px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}
.hero-unit .input-append .btn:last-child {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

@media (max-width: 979px) {
    .hero-unit .btn, .hero-unit input {
        font-size: 20px;
        line-height: 28px;
        padding: 14px 24px;
    }
}
.introduction {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 0;
}
.feature h3 {
    font-size: 24px;
}
section.separator{
    padding: 20px 0 0 0;
}

/* Images "références client" */
.thumbnail.client img {
    height: 70px;
}
.thumbnail.client {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a {
    color: #62A4E3;
}
a.hover {
    text-decoration:underline;
}
footer .colophon .container .row {
    margin-left: 0;
}

