#a1
{
	font-family : "Berlin Sans FB", Arial;
	color: #595959;
}

#a2
{
	font-family : "Eras Demi ITC", Arial;
	color: #00255c;
}

#a3
{
	font-family : Aharoni, Arial;
	color: #003686;
}

#a4
{
	font-family : "Britanic Bold", Arial;
	color: #00255c;
}

#a5
{
	font-family : Broadway, Arial;
	color: #7f7f7f;
}

#a6
{
	font-family : Cooper Black, Arial;
	color: #595959;
}

#a7
{
	font-family : HandelGotDLig, Arial;
	color: #00255c;
}

#a8
{
	font-family : "Berlin Sans FB Demi", Arial;
	color: #00255c;
}

#a9
{
	font-family : DokChampa, Arial;
	color: #595959;
}

#a10
{
	font-family : "Kristen ITC", Arial;
	color: #00255c;
}

#a11
{
	font-family : "Franklin Gothic Medium Cond", Arial;
	0f4846
}