/* ------ Balises générales ------*/
h2{	
	color:#8FCB17;
}

u{	
	color: #002060;
}

ul li  { 
	margin: 30px 0
}

img{
	border : 0px;
}

ul {
	list-style-position: outside;
	list-style-image: url("images/puce.png");
}
/* ------ div englobant le contenu ------*/
.corps {
	margin: auto;
	width : 1000px;
}
/* ------ proprietés du logo ------*/
#logo {
	width: 470px;	
}

/* ------ Menu ------*/
.menu {
	height:62px;	
	margin-left: 40px;
}

#menuVide
{
	height:20px;
}

a.lienMenu
{	
	text-decoration:none;
}

.ongletMenu {
	width:140px;
	height:60px;
	margin-left: 6px;
	margin-right: 6px;
}

.ongletMenuG {
	width:140px;
	height:80px;
	margin-left: 6px;
	margin-right: 6px;
	position: relative;
	top: 10px;
}
/* ------ Page d'accueil (les styles de polices de chaque ligne sont situées dans un autre fichier intitulé accueil.css ) ------*/
.accueil {
	font-size: 27px;	
	font-style: arial;
	margin-top: 30px;
	margin-left: 50px;
	line-height:37px;
}

#imageAccueil {
	margin-right: 40px;
	margin-top: 40px;
	float:left;
}
/* ------ Style commun aux pages ------*/
.contenu {
	font-family : Arial;
	font-size: 20px;	
	font-style: arial;
	margin-top: 30px;
	margin-left: 50px;
}
/* ------ Spécifique à la page "références" ------*/
.deroulant {
	cursor:pointer;
	text-decoration: underline;
	color: #002060;
}

.logoref {
	width:400px;
	height: 90px;
	position: relative;
	left:300px;
}

/* ------ Mentions légales ------*/
.mentionsLegales {
	font-family: Arial;
	color: #002060;
	position:relative;
	left: 850px;
}